<a href="https://colab.research.google.com/github/zeph0yr/Operation-Research-Optimization/blob/master/Lab8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pulp

Requirement already satisfied: pulp in /usr/local/lib/python3.6/dist-packages (2.3)
Requirement already satisfied: amply>=0.1.2 in /usr/local/lib/python3.6/dist-packages (from pulp) (0.1.2)
Requirement already satisfied: docutils>=0.3 in /usr/local/lib/python3.6/dist-packages (from amply>=0.1.2->pulp) (0.16)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.6/dist-packages (from amply>=0.1.2->pulp) (2.4.7)

In [ ]:
from pulp import *
import numpy as np
import pandas as pd

##Question 1
#Model

Maximize 

$Z = 8x_1+9x_2  +7 x_3+6x_4$

Subject to

$0.5x_1+x_2  + x_3+0.5x_4  ≤1800$

$2x_1+x_2  + x_3+x_4  ≤2800$

$0.5x_1+0.5 x_2  + x_3+x_4  <=3000$

$3x_1+x_2  + 2x_3+3x_4  <=6000$

$x_1>=100,x_2>=600,x_3>= 500,x_4  >=400$

In [ ]:
from google.colab import files
data=files.upload()

for x in data.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(name=x, length=len(data[x])))

Saving Q1Da.csv to Q1Da.csv
User uploaded file "Q1Da.csv" with length 167 bytes

In [ ]:
df=pd.read_csv('Q1Da.csv')

In [ ]:
df

    A1   A2  A3   A4  Cost  Resource
0  0.5  1.0   1  0.5     8      1800
1  2.0  1.0   1  1.0     9      2800
2  0.5  0.5   1  1.0     7      3000
3  3.0  1.0   2  3.0     6      6000
4 -1.0  0.0   0  0.0     0      -100
5  0.0 -1.0   0  0.0     0      -600
6  0.0  0.0  -1  0.0     0      -500
7  0.0  0.0   0 -1.0     0      -400

##Define Data

In [ ]:
nvar=4
ncons=8
cost=df['Cost'].to_numpy()
Coff=df.iloc[0:8,0:4].to_numpy()
resources=list(df['Resource'].iloc[0:8])

##Defining Model

In [ ]:
model = LpProblem("LPP",LpMaximize)

##Define the decision variables

In [ ]:
x = {i: LpVariable(name=f"x{i}", lowBound=0) for i in range(1, nvar+1)}

##Set the objective

In [ ]:
model+=lpSum(cost[i-1]*x[i] for i in range(1,nvar+1))

##Add constraints

In [ ]:
for j in range(ncons):
  model += lpSum(Coff[j,i-1]*x[i] for i in range(1,nvar+1))<=resources[j]

##Print Model

In [ ]:
print(model)

LPP:
MAXIMIZE
8*x1 + 9*x2 + 7*x3 + 6*x4 + 0
SUBJECT TO
_C1: 0.5 x1 + x2 + x3 + 0.5 x4 <= 1800

_C2: 2 x1 + x2 + x3 + x4 <= 2800

_C3: 0.5 x1 + 0.5 x2 + x3 + x4 <= 3000

_C4: 3 x1 + x2 + 2 x3 + 3 x4 <= 6000

_C5: - x1 <= -100

_C6: - x2 <= -600

_C7: - x3 <= -500

_C8: - x4 <= -400

VARIABLES
x1 Continuous
x2 Continuous
x3 Continuous
x4 Continuous

##Solve the optimization problem

In [ ]:
status = model.solve()

##Get the results

In [ ]:
print(f"status: {model.status}, {LpStatus[model.status]}")
print(f"objective: {model.objective.value()}")

for var in x.values():
    print(f"{var.name}: {var.value()}")

status: 1, Optimal
objective: 17900.0
x1: 300.0
x2: 600.0
x3: 500.0
x4: 1100.0

##Question 2

$Minimize Z = 8x_1+4x_2  +2 x_3$

Subject to

$4x_1+2x_2  + x_3  ≤8$

$3x_1+2x_2   ≤10$

$x_1+ x_2  + x_3  >=4$

$x_1>=0,x_2>=0,x_3>= 0$

In [ ]:
from google.colab import files
data=files.upload()

for x in data.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(name=x, length=len(data[x])))

Saving Q.csv to Q.csv
User uploaded file "Q.csv" with length 102 bytes

In [ ]:
df=pd.read_csv('Q.csv')
df

   A1  A2  A3  Unnamed: 3  Cost  Resource
0   4   2   1         NaN   8.0         8
1   3   2   0         NaN   4.0        10
2  -1  -1  -1         NaN   2.0        -4
3  -1   0   0         NaN   NaN         0
4   0  -1   0         NaN   NaN         0
5   0   0  -1         NaN   NaN         0

##Define Data

In [ ]:
nvar=3
ncons=6
cost=df['Cost'].to_numpy()
Coff=df.iloc[0:6,0:3].to_numpy()
resources=list(df['Resource'].iloc[0:6])

##Defining Data and Decision variables

In [ ]:
model = LpProblem("LPP",LpMaximize)
x = {i: LpVariable(name=f"x{i}", lowBound=0) for i in range(1, nvar+1)}
model+=lpSum(cost[i-1]*x[i] for i in range(1,nvar+1))

##Add Constraints

In [ ]:
for j in range(ncons):
  model += lpSum(Coff[j,i-1]*x[i] for i in range(1,nvar+1))<=resources[j]

##Print Model

In [ ]:
print(model)
status = model.solve()

LPP:
MAXIMIZE
8.0*x1 + 4.0*x2 + 2.0*x3 + 0.0
SUBJECT TO
_C1: 4 x1 + 2 x2 + x3 <= 8

_C2: 3 x1 + 2 x2 <= 10

_C3: - x1 - x2 - x3 <= -4

_C4: - x1 <= 0

_C5: - x2 <= 0

_C6: - x3 <= 0

VARIABLES
x1 Continuous
x2 Continuous
x3 Continuous

##Get the Results

In [ ]:
print(f"status: {model.status}, {LpStatus[model.status]}")
print(f"objective: {model.objective.value()}")

for var in x.values():
    print(f"{var.name}: {var.value()}")

status: 1, Optimal
objective: 16.0
x1: 0.0
x2: 0.0
x3: 8.0

##Question 3

##Model

Maximize 
$Z = 5x_1- 2x_2  +3 x_3$ 

Subject to

$2x_1+1x_2  - 6x_3=20$

$8x_1- 3x_2  + 6x_3+x_4  ≤50$

$6x_1+5 x_2  + 10x_3+x_4  <=76$

$x_1>=0,x_2>=0,x_3>= 0$

In [ ]:
from google.colab import files
data=files.upload()

for x in data.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(name=x, length=len(data[x])))

Saving B.csv to B.csv
User uploaded file "B.csv" with length 112 bytes

In [ ]:
df=pd.read_csv('B.csv')
df

   A1  A2  A3  A4  Cost  Resource
0   2   1  -6   0     5        20
1   8  -3   6   1    -2        50
2   6   5  10   1     3        76
3   1   0   0   0     0         0
4   0   1   0   0     0         0
5   0   0   1   0     0         0

##Define Data

In [ ]:
nvar=4
ncons=6
cost=df['Cost'].to_numpy()
Coff=df.iloc[0:6,0:4].to_numpy()
resources=list(df['Resource'].iloc[0:6])

##Defining Data and Decision variables

In [ ]:
model = LpProblem("LPP",LpMaximize)
x = {i: LpVariable(name=f"x{i}", lowBound=0) for i in range(1, nvar+1)}
model+=lpSum(cost[i-1]*x[i] for i in range(1,nvar+1))

##Add Constraints

In [ ]:
for j in range(ncons):
  model += lpSum(Coff[j,i-1]*x[i] for i in range(1,nvar+1))<=resources[j]

##Print Model

In [ ]:
print(model)
status = model.solve()

LPP:
MAXIMIZE
5*x1 + -2*x2 + 3*x3 + 0
SUBJECT TO
_C1: 2 x1 + x2 - 6 x3 <= 20

_C2: 8 x1 - 3 x2 + 6 x3 + x4 <= 50

_C3: 6 x1 + 5 x2 + 10 x3 + x4 <= 76

_C4: x1 <= 0

_C5: x2 <= 0

_C6: x3 <= 0

VARIABLES
x1 Continuous
x2 Continuous
x3 Continuous
x4 Continuous

##Get the Results

In [ ]:
print(f"status: {model.status}, {LpStatus[model.status]}")
print(f"objective: {model.objective.value()}")

for var in x.values():
    print(f"{var.name}: {var.value()}")

status: 1, Optimal
objective: 0.0
x1: 0.0
x2: 0.0
x3: 0.0
x4: 0.0