<a href="https://colab.research.google.com/github/zeph0yr/Operation-Research-Optimization/blob/master/Lab9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pulp

Requirement already satisfied: pulp in /usr/local/lib/python3.6/dist-packages (2.3)
Requirement already satisfied: amply>=0.1.2 in /usr/local/lib/python3.6/dist-packages (from pulp) (0.1.4)
Requirement already satisfied: docutils>=0.3 in /usr/local/lib/python3.6/dist-packages (from amply>=0.1.2->pulp) (0.16)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.6/dist-packages (from amply>=0.1.2->pulp) (2.4.7)

In [ ]:
from pulp import *
import pandas as pd
import numpy as np

#Question 1
##Model

##Uploading .csv file containing the model

In [ ]:
from google.colab import files
data=files.upload()

##Printing the .csv file
for x in data.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(name=x,length=len(data[x])))

Saving lab9_Q1.csv to lab9_Q1 (6).csv
User uploaded file "lab9_Q1.csv" with length 73 bytes

In [ ]:
df=pd.read_csv('lab9_Q1.csv')
df

   A1  A2  A3  A4  Availability
0   5   2   4   3          22.0
1   4   8   1   6          15.0
2   4   6   7   5           8.0
3   7  12  17   9           NaN

In [ ]:
x=LpVariable()

##Define Data

In [ ]:
nvar=12
ncons=4+3
avail=df['Availability'].to_numpy()
demand=df.iloc[3:4,0:4].to_numpy()
coeff=df.iloc[0:3,0:4].to_numpy()

##Defining Model

In [ ]:
model = LpProblem("LPP",LpMinimize)

##Defining decision variables

In [ ]:
x = {i: LpVariable(name=f"x{i}",lowBound=0,cat='Integer') for i in range(1, nvar+1)}

##Objective Function

In [ ]:
model+=lpSum(coeff[i,j]*x[(i*4)+j+1] for i in range(0,3)for j in range(0,4))

##Add constraints(column-wise)

In [ ]:
for i in range(0,4):
  model+=lpSum(coeff[j,i]*x[(j*4)+i+1] for j in range(0,3))==demand[0][i]

##Add constraints(row-wise)

In [ ]:
for i in range(0,3):
  model+=lpSum(coeff[i,j]*x[(i*4)+j+1] for j in range(0,4))==avail[i]

##Print Model

In [ ]:
print(model)
status = model.solve()

LPP:
MINIMIZE
5*x1 + 6*x10 + 7*x11 + 5*x12 + 2*x2 + 4*x3 + 3*x4 + 4*x5 + 8*x6 + 1*x7 + 6*x8 + 4*x9 + 0
SUBJECT TO
_C1: 5 x1 + 4 x5 + 4 x9 = 7

_C2: 6 x10 + 2 x2 + 8 x6 = 12

_C3: 7 x11 + 4 x3 + x7 = 17

_C4: 5 x12 + 3 x4 + 6 x8 = 9

_C5: 5 x1 + 2 x2 + 4 x3 + 3 x4 = 22

_C6: 4 x5 + 8 x6 + x7 + 6 x8 = 15

_C7: 6 x10 + 7 x11 + 5 x12 + 4 x9 = 8

VARIABLES
0 <= x1 Integer
0 <= x10 Integer
0 <= x11 Integer
0 <= x12 Integer
0 <= x2 Integer
0 <= x3 Integer
0 <= x4 Integer
0 <= x5 Integer
0 <= x6 Integer
0 <= x7 Integer
0 <= x8 Integer
0 <= x9 Integer

##Get the results

In [ ]:
print(f"status: {model.status}, {LpStatus[model.status]}")
print(f"objective: {model.objective.value()}")

for var in x.values():
    print(f"{var.name}: {var.value()}")

status: -1, Infeasible
objective: 45.00000003
x1: 1.4
x2: 0.0
x3: 3.75
x4: 0.0
x5: 0.0
x6: 0.75
x7: 0.0
x8: 1.5
x9: 0.0
x10: 1.0
x11: 0.28571429
x12: 0.0

#Question 2 is same as Question 1

#Question 3
##Model

##Uploading .csv file containing the model

In [177]:
from google.colab import files
data=files.upload()
for x in data.keys():
  print("User uploaded file {name} with length {length} bytes".format(name=x,length=len(data[x])))

Saving Lab9_Q3.csv to Lab9_Q3 (2).csv
User uploaded file Lab9_Q3.csv with length 102 bytes

##Printing the .csv file

In [178]:
df=pd.read_csv('Lab9_Q3.csv')
df

   A1  A2  A3  A4  A5  Available
0   3   4   6   8   9       20.0
1   2  10   1   5   8       30.0
2   7  11  20  40   3       15.0
3   2   1   9  14  16       13.0
4  40   6   8  18   6        NaN

##Define Data

In [215]:
nvar=4*5
ncons=4+5
avail=df['Available'].to_numpy()
demand=df.iloc[4:5,0:5].to_numpy()
coeff=df.iloc[0:4,0:5].to_numpy()

##Define Decision Variables

In [216]:
x={i:LpVariable(name=f"x{i}",lowBound=0,cat='Integer')for i in range(1,nvar+1)}

##Define Lpp problem

In [217]:
model=LpProblem("Lab9_Q3",LpMinimize)

##Include Objective Function

In [218]:
model+=lpSum(coeff[i][j]*x[(i*5)+j+1]for i in range(0,4) for j in range(0,5))

##Add Constraints (Row-wise)

In [219]:
for i in range(0,4):
  model+=lpSum(coeff[i][j]*x[(i*5)+j+1] for j in range(0,5))==avail[i]

##Add Constraints (Column-wise)

In [222]:
for i in range(0,5):
  model+=lpSum(coeff[j][i]*x[(j*5)+i+1] for j in range(0,4))==demand[0][i]

##Print Model

In [223]:
status=model.solve()
print(model)

Lab9_Q3:
MINIMIZE
3*x1 + 8*x10 + 7*x11 + 11*x12 + 20*x13 + 40*x14 + 3*x15 + 2*x16 + 1*x17 + 9*x18 + 14*x19 + 4*x2 + 16*x20 + 6*x3 + 8*x4 + 9*x5 + 2*x6 + 10*x7 + 1*x8 + 5*x9 + 0
SUBJECT TO
_C1: 3 x1 + 4 x2 + 6 x3 + 8 x4 + 9 x5 = 20

_C2: 8 x10 + 2 x6 + 10 x7 + x8 + 5 x9 = 30

_C3: 7 x11 + 11 x12 + 20 x13 + 40 x14 + 3 x15 = 15

_C4: 2 x16 + x17 + 9 x18 + 14 x19 + 16 x20 = 13

_C5: 3 x1 + 7 x11 + 2 x16 + 2 x6 = 40

_C6: 11 x12 + x17 + 4 x2 + 10 x7 = 6

_C7: 20 x13 + 9 x18 + 6 x3 + x8 = 8

_C8: 40 x14 + 14 x19 + 8 x4 + 5 x9 = 18

_C9: 8 x10 + 3 x15 + 16 x20 + 9 x5 = 6

VARIABLES
0 <= x1 Integer
0 <= x10 Integer
0 <= x11 Integer
0 <= x12 Integer
0 <= x13 Integer
0 <= x14 Integer
0 <= x15 Integer
0 <= x16 Integer
0 <= x17 Integer
0 <= x18 Integer
0 <= x19 Integer
0 <= x2 Integer
0 <= x20 Integer
0 <= x3 Integer
0 <= x4 Integer
0 <= x5 Integer
0 <= x6 Integer
0 <= x7 Integer
0 <= x8 Integer
0 <= x9 Integer

##Get the Results

In [231]:
print("status: {} {}".format(model.status,LpStatus[model.status]))
print("objective: {}".format(model.objective.value()))

for i in x.values():
  print("{}={}".format(i.name,i.value()))

status: -1 Infeasible
objective: 78.00000002
x1=0.0
x2=0.0
x3=0.0
x4=1.875
x5=0.55555556
x6=15.0
x7=0.0
x8=0.0
x9=0.0
x10=0.0
x11=0.0
x12=0.54545455
x13=0.4
x14=0.0
x15=0.33333333
x16=5.0
x17=0.0
x18=0.0
x19=0.21428571
x20=0.0